<h2>Dashboard</h2>
<div class="row">
    <div class="col">
        {{#each post}}
        <div class="card">
                <div class="row card-header m-0">
                    <div class="col d-flex">

                <div class='p-1'>
                    <a href="/edit/{{id}}">{{title}}</a>
                </div>
                <div class='p-1 justify-content-end'>
                    Posted by {{user.username}} on {{format_date createdAt}}
                </div>
                    </div>
                </div>
                <div class="row card-body">
                    <div class="col">
                
                <div class="card-body">{{content}}</div>
                    </div>
                </div>
            
        </div>
        {{/each}}
    </div>
</div>