<div class="row">
    <div class="col">
{{#each post}}
    <div class="card">
        <div class="card-title d-flex flex-row justify-space-between">
            <div class="p-1">
                <a href="/posts/{{id}}">{{title}}</a>
            </div>
            <div class="p-1 text-end">
                Posted by {{user.username}} on {{format_date createdAt}}
            </div>
            <div class="card-body">{{content}}</div>
        </div>
    </div>
{{/each}}
    </div>
</div>