<div class="row d-flex justify-content-evenly">
    <article class="col card m-1">
        <div class="card-title flex-row justify-space-between p-1">
            <h2>{{post.title}}</h2>
            <div>
                Posted by {{post.user.username}} on {{format_date post.createdAt}}
            </div>
        </div>
        <div class="card-body">
            {{post.body}}
        </div>
    </article>

    {{#if post.comments}}
    <section class="col card m-1">
        <div class="card-title p-1">
            <h3>Comments</h3>
        </div>

        <div class="card-body">
            {{#each post.comments}}
            <div>
                <p>
                    {{content}}
                </p>
                <p>
                    &mdash; {{post.user.username}}, {{format_date createdAt}}
                </p>
            </div>
            {{/each}}
        </div>
    </section>
    {{/if}}

    <form id="new-comment" class="col card m-1">
        <div class="card-title p-1">
            <h3>Add New Comment</h3>
        </div>

        <div class="card-body">
            
            <div class="form-group">
                <input type="hidden" id='post-id' name="post-id" value="{{post.id}}"/>
            </div>
            
            <div class="form-group">
                <label class="form-label" for="comment-body">Comment</label>
                <textarea name="comment-body" class="form-input" id='content-id'></textarea>
            </div>

            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
</div>

<script src="/js/onepost.js"></script>